<h1>Contatos</h1>
<p>
<b>Email:</b> mihaelguedes720@gmail.com <br>
<b>Fone/Whatsapp:</b> <%= link_to 'Mande-me uma mensagem!', 'https://wa.me/55081985143673' %> ou me ligue: +5581985143673<br>
<b>GitHub:</b> <%= link_to 'github.com/MihaelGuedes', 'https://github.com/MihaelGuedes' %> <br>
<b>Facebook:</b> <%= link_to 'facebook.com/MihaelGuedes', 'https://www.facebook.com/profile.php?id=100012770137487'%> <br>
<b>Linkedin:</b> <%= link_to 'https://www.linkedin.com/in/mihaelguedes/', 'https://www.linkedin.com/in/mihaelguedes/' %>
</p>