<h1>Contatos</h1>
<p>
<b>Email:</b> mihaelguedes720@gmail.com <br>
<b>Fone/Whatsapp:</b> +55 (081) 985143673 <br>
<b>GitHub:</b> <%= link_to 'github.com/MihaelGuedes', 'https://github.com/MihaelGuedes' %> <br>
<b>Facebook:</b> <%= link_to 'facebook.com/MihaelGuedes', 'https://www.facebook.com/profile.php?id=100012770137487'%>
</p>