<h3></h2>
<h3>
    Site criado por Mihael Guedes durante o curso de introdução a Ruby on Rails.<br><br>
    Esse é meu primeiro projeto em Rails, espero que ache interessante em cada detalhe.<br><br>
    Em breve estarei criando mais exemplos de aplicativos web mais complexos!
</h3>