<h1>Sobre</h1>
<p>
    Site criado por Mihael Guedes durante o curso de <b>Ruby on Rails na Prática</b> feito por Bruno Paulino.<br><br>
    Esse é meu primeiro projeto em Rails, espero que ache interessante em cada detalhe.<br>
    Em breve estarei criando mais exemplos de aplicativos web mais complexos!<br>
    Sou estudante de Ciência da Computação na Universidade Federal de Pernambuco atualmente no 2º período da minha formação, e sou apaixonado por tecnologia e desenvolvimento web e games.<br>
    Se quiser saber mais sobre mim acesse a página de <%= link_to 'contatos', contato_path %>!
</p>